<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block head_title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.output.css' %}"/>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="{% static 'assets/js/init-alpine.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    <div>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">Sign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock content %}}
    {% endblock body %}}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>
