{% block content %}
{% endblock content %}

  <body>
    {% block body %}
    <div>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">aaaaSign In</a></li>
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock content %}}
    {% endblock body %}}
    {% block extra_body %}
    {% endblock extra_body %}
  </body>
</html>